<div style="display:flex;height:100vh;background-color:#435055;flex-direction:column;align-items:center;justify-content:center;">
    <div style="background-color:#535C91;border-radius:20px;font-weight:bold;color:white;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);padding:20px;">
    <%= form_with url: add_group_path, method: :post, class: "d-flex", role: "search", style: "padding:10px;"%>
        <%= text_field_tag :user, nil, placeholder: "Add user", class: "form-control me-2"%>
        <div style="padding:0px 10px;"><%= submit_tag "Add", class: "btn btn-warning" %></div>
        <%= link_to "Close", groups_path , class:"btn btn-primary" %>
    </div>
</div>